@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

*::-moz-selection {
  background-color: #29B6F6;
  color: #fff;
}

*::selection {
  background-color: #29B6F6;
  color: #fff;
}

/* global styles */
body {
  font: 16px/1.3 'Lato', sans-serif;
  font-weight: 400;
  background: #FAFAFA;
  color: #232323;
}

a, h1, h2, h3, h4, h5, h6 {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;  
}


section {
  padding: 3rem 1rem;
}


.shadow {
  -webkit-box-shadow: 2px 2px 25px 0px rgba(46,61,73,0.1);
  box-shadow: 2px 2px 25px 0px rgba(46,61,73,0.1);
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-right: 5px;
  padding: 10px 15px;

  letter-spacing: 1.5px;
  font-size: 0.85rem;
  font-weight: bolder;
  text-align: center;
  
  color: #f4f4f4;
  border: 0px;
  border-radius: 0.15rem; 
  outline: 0px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  
}
.btn:hover {
  background: #0288D1;
}
.btn-default {
  background: #0288D1;
  color: #f4f4f4;
}
.btn-default:hover {
  background: #0288D1;
  background: #0070ad;
}
.btn i {
  position: relative;
  right: 5px;
}

/* colors */
.bg-darkgray { background-color: #212121; }
.bg-darkgray-lighten { background-color: #282828; }
.bg-gray { background-color: #BDBDBD}
.text-white { color: #f4f4f4 }
.text-gray { color: #BDBDBD}
.black { background: #393939; }
.black:hover { background: #262626; }
.red { background: #D32F2F; }
.red:hover { background: #B71C1C; }
.cloud { background: #ecf0f1; color: #232323; }
.cloud:hover { background: #d5d8d8; color: #232323; }
.blue { background: #0288D1; }
.blue:hover { background: #01579B; }

/* text formatting */
.text-center {
  text-align: center;
}

h2 {
  font-weight: 400;
}
p {
  font-weight: 300;
}
h1, h2, p {
  margin-top: 0;
  margin-bottom: 10px;
}

.bolder {
  font-weight: bolder;
}

h1, h2 {
  margin-bottom: 0px;
}

/* layout */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  width: 100%;
}
/* clearfix hack */
.row::after {
  content: "";
  display: block;
  height: 0;
  visibility: none;
  clear: both;
}

.col-12, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;  
  width: 100%; 
}

.no-padding {
  padding: 0 !important; 
}

.clearfix {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix-header {
  width: 100%;
  height: 50px;  
  background: black;
}

form .element-form{
  -webkit-box-sizing: 1px solid black;
          box-sizing: 1px solid black;
  margin-bottom: 10px;
}
form .element-form input,
form .element-form textarea,
nav.mobile-menu .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;

  font-size: 0.85rem;
  letter-spacing: 1px;

  background: #ecf0f1;
  border: 1.5px solid #ecf0f1;
  border-radius: 3px;
  outline: 0px;
}
form .element-form textarea {
  min-height: 70px;
  max-height: 400px;
  resize: vertical;
}
form .element-form input:focus,
form .element-form textarea:focus {
  border-color: #bdc3c7;
  background: #F5F5F5;
}
form .element-form input::-webkit-input-placeholder,
form .element-form textarea::-webkit-input-placeholder {
  color: #bdc3c7
}
form .element-form input:-ms-input-placeholder,
form .element-form textarea:-ms-input-placeholder {
  color: #bdc3c7
}
form .element-form input::placeholder,
form .element-form textarea::placeholder {
  color: #bdc3c7
}

.flex-container-full .container {
  padding: 1.15rem;
}

.title-separator {
  display: inline-block;
  width: 30px;
  height: 2px;

  background: #232323;
  border: 0;
}

/* header style */
header {
  position: fixed;
  width: 100%;
  padding: 10px;
  color: #212121;
  background: #fff;
  z-index: 1;
}
header.burger-menu {
  padding: 0;
}

.header-logo {
  float: left;
}
.header-logo span {
  display: inline-block;
  padding: 10px;

  font-weight: 900;

  border: 2px solid #212121;
  border-radius: 3px;
}
.bar-container {
  float: right;
  position: relative;
  top: 10px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;

  z-index: 99;
}
.bar-container.burger-menu {
  top: 20px;
}
.bar-container .line {
  position: absolute;
  width: 100%;
  height: 5px;

  border-radius: 3rem;
  transition: all cubic-bezier(0.25, 0.1, 0.36, 1.69) .3s
}
.bar-container .line:nth-of-type(1) { top: 10%; }
.bar-container .line:nth-of-type(2) { top: 40%; }
.bar-container .line:nth-of-type(3) { top: 70%; }

.bar.burger-menu .line {
  background-color: #f1f1f1;
}
.bar.burger-menu .line:nth-of-type(1) { 
  transform: rotate(45deg);
  top: 40%; 
}
.bar.burger-menu .line:nth-of-type(2) { opacity: 0.0; }
.bar.burger-menu .line:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 40%; 

}
nav.mobile-menu.burger-menu {
  display: block;
  z-index: 5
}
nav.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;  

  background-color: rgba(2, 136, 209, 1);;
}

nav.mobile-menu ul {
  padding: 0;
  margin: 20px 0;
  
  list-style-type: none;
}
nav.mobile-menu ul li {
  padding: 0 30px;
}
nav.mobile-menu ul a {
  display: block;
  margin-bottom: 20px;

  font-size: 1rem;
  font-weight: bolder;

  color: #d7d7d7;
  border-bottom: 0;
}
nav.mobile-menu ul a:hover {
  color: #fff;
}
nav.mobile-menu ul .search {
  display: block;
}



/* login style */
.flex-container-full {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  background: #fff;
  overflow: auto;
}

.flex-container-full.login a span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  margin-bottom: 20px; 
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;

  background: #232323;
  color: #f4f4f4;
}

.flex-container-full.login form {
  margin: 2rem 0;
}
.flex-container-full.login form .btn {
  float: left;
  margin-top: 10px;
}

.flex-container-full.login form a.forgot {
  float: right;
  display: block;
  position: relative;
  top: 15px;
  padding-bottom: 5px;

  font-size: 0.85rem;
}

.flex-container-full.login form::after {
  content: '';
  display: block;
  height: 0;
  visibility: none;
  clear: both;
}


.flex-container-full.login .form-divider {
  margin: 40px 0 25px;

  line-height: 0;
  
  color: #bdc3c7;
}
.flex-container-full.login .form-divider span { 
  font-size: 0.85rem; 
}

.login-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-services i {
  font-size: 1.15rem;
  vertical-align: bottom;
  margin-right: 5px;
}

.flex-container-full.login footer p {
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  
  color: #aebdc1;
}


/* modal styles */

.flex-container-full.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-container-full.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10vh 0;
  
  background: rgba(0,0,0,.8);
  z-index: 2;
}
.flex-container-full.modal .container {
  position: relative;
  width: 50vw;
  max-width: 760px;
  padding: 2rem;
  
  background-color: #fff;
  border-radius: 0.25rem;
}
.flex-container-full.modal .close-button {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;

  font-size: 200%;
  
  color: #9E9E9E;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.flex-container-full.modal .close-button:hover {
  color: #616161;
}
.flex-container-full.modal h2 {
  font-weight: 100;
}
.flex-container-full.modal p {
  font-weight: lighter;
}


/* contact us style */
.contact-us form {
  padding: 2rem;

  background: #fff;
  border: 2px solid #fff;
}


/* footer styles */
footer {
  padding: 1rem 1rem 50px;
  position: relative;
}

footer a {
  color: #BDBDBD;
  border-bottom: 0;
}
footer a:hover {
  color: #f5f5f5;
}

.footer-about .footer-logo {
  max-width: 100px;
}

footer .footer-link,
footer .footer-about {
  margin-bottom: 20px;
}
.footer-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-link ul li:not(.twb) {
  margin: 5px 0;
}
.footer-link ul .twb {
  font-weight: 700;
  color: #757575;
}

.footer-link .social li {
  float: left;
}
.footer-link .social li a {
  display: inline-block;
  margin-right: 10px;

}
.footer-link .social li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  
  background-color: #282828;
  border-radius: 100%;
}
.footer-link .social li i:hover {
  background-color: #424242;
}

footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer .copyright p {
  padding: 10px;
  margin-bottom: 0;

  font-size: 0.85rem;
}


.flex-container-full.login p > a {
    color: #0070ad;
    border-bottom: 0;
    font-weight: bolder;
}