@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
 html {
  line-height: 1.15; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}
*{
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
  color: #384047;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
p { margin: 0; }

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
	padding:0;
	margin:0;
	background-color:#f2f2f2;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #384047;
	
}
figcaption,
figure,
main { 
  display: block;
}


figure {
  margin: 1em 40px;
}


hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}
pre {
  font-family: monospace, monospace; 
  font-size: 1em; 
}
a {
  background-color: transparent; 
  -webkit-text-decoration-skip: objects; 
}
abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  text-decoration: underline dotted; 
}

b,
strong {
  font-weight: inherit;
}


b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}

dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}

button,
input { 
  overflow: visible;
}

button,
select { 
  text-transform: none;
}


button,
html [type="button"], 
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; 
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; 
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0; 
  white-space: normal; 
}
progress {
  display: inline-block; 
  vertical-align: baseline; 
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}
details, 
menu {
  display: block;
}


summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

.header {
	min-height: 20px;
	background-color:white;
}

footer * {
	box-sizing: content-box;
}
footer {
  padding-top: 40px;
}
section{
  padding-top: 40px;
  padding-bottom: 50px;
}
section:after {
  content: "";
  display: block;
  clear: both;
}
section:nth-of-type(2) {
  padding-top: 80px;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: #9E9E9E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a.f-right {
  float: right;
}

.topnav .sign-in {
  background: linear-gradient(60deg, #1065B4, #1483D8);
  padding: 0;
  width: 80px;
  padding: 7px 0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.topnav .sign-in:hover {
  background: linear-gradient(60deg, #1065B4, #1483D8);
  color: #fff;
}

.topnav a .logo {
  max-width: 48px;
}

.topnav a:hover {
  color: #616161;
}



.topnav .icon {
  transform: scale(1.5);
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
		.topnav .sign-in:hover {
  background: none;
  color: #616161;
}

  .banner .mobile-hd {
	  display: none;
  }
  
  .banner .mobile-hero {
	  width: 100%;
  }
.banner .mobile-hero p {
	max-width: 100%;
}
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
.col-6 { width: 48%;}
.col-3 { width: 48%; }
.col-4 { width: 48%; }

  .topnav .sign-in {
    background: transparent;
    color: #9E9E9E;
    font-weight: 400;
    padding: 14px 16px;
  }
  
  .pricing-type .col-6 {
	  width: 100%;
  }
  .pricing-type .card {
	  width: 90%;
	  margin: 0 auto;
  }
  
.testimonial .col-4,
.our-team .col-4 {
	width: 100%;
}
.testimonial .card,
.our-team .card {
	max-width: 100%;
	margin: 0 auto;
}

.our-team .col-4 {
	margin: 30px auto;
}

.about-header .col-6 {
	width: 100%;
}

.section-course .col-4,
.testimonial .col-4 {
	width: 100%;
}

.about-header .card,
.-course .card,
.testimonial .card {
	max-width: 100%;
	margin: 0 auto;
}

}

@media screen and (max-width: 480px) {
.col-6 { width: 100%;}
.col-3 { width: 100%; }
.col-4 { width: 100%; }



.partner { 
	padding: 20px 0;
}

}