
.card { 
  box-sizing: border-box;  
  margin: 0 auto;
}

.row {
  width: 100%;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-6 { width: 50%;}
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
div[class*="col-"] {float: left;margin: 10px 0;}

.wrapper {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.mb-2 { margin-bottom: 20px; }
.mb-1 { margin-bottom: 10px; }
.mt-2 { margin-top: 20px; }

.text-white { color: #fff; }
.text-dark { color: #384047; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-up { text-transform: uppercase; }

.bg-white { background-color: #fff; }
.bg-blue-gradient,
.btn-default {
  background: linear-gradient(60deg, #1976D2, #2196F3);
}

.grayscale {
  filter: grayscale(70%);
  transition: all ease-in .3s;
}
.grayscale:hover {
  filter: grayscale(0%);
}

.shadow {
  box-shadow: 2px 2px 25px rgba(22, 31, 38, .1);
}
.text-shadow {
  text-shadow: 2px 2px 25px rgba(22, 31, 38, .3);
}

.sm-rounded {
  border-radius: 3px;
}
.md-rounded {
  border-radius: 6px;
}

.social {
  width: 100%;
}
.social ul {
  box-sizing: border-box;
  margin: auto;
  max-width: max-content;
}
.social ul:after {
  content: "";
  display: block;
  clear: both;
}
.social li { 
  float: left; 
  margin: 5px;
}
.social li a { 
  display: block;
}
.social li a i {
  display: block;
  padding: 10px;
  width: 16px;
  height: 16px;

  text-align: center;
  line-height: 16px;
  
  background: #2F3031;
  color: #E0E0E0;
  border-radius: 100%;
  transition: all ease-in .2s;  
}


/* header */
header {
	min-height:60px;
  background-color:white;	
}
header:after {
  content: "";
  display: block;
  clear: both;
}
#toggle {
  float: right;
  width: 26px;
  height: 26px;
  position: relative;
  top: 10px;
  right: 25px;
  display: none;
}

@media screen and (max-width:780px){
  label,
  #toggle {
		display:block;
		cursor:pointer;	
  }
  


  #toggle {
    opacity: 1;
  }

  #toggle:checked  + .menu nav {
    display: none;
  }
}
section.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  z-index: 1;
}
section.banner-about {
  background: url("../images/office.jpg") no-repeat;
  background-size: cover;
}
section.banner-pricing {
  background: url("../images/pricing.jpeg") no-repeat;
  background-size: cover;
}
section.banner-home {
  background: url("../images/coding.jpg") no-repeat;
  background-size: cover;
  height: 450px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .85;
  z-index: -1;
}

.banner h1 {
  margin: 0 0 20px;

  font-size: 40px;
  font-weight: 600;
  text-align: center;

  color: #fff;
}
.banner p {
  max-width: 500px;
  padding: 5px 0;
  margin: 0 auto;
  
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.partner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 50px;
}

.partner h2 {
  font-size: 20px;
  width: 100%;
}

.partner h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;

  color: #9E9E9E;
}

.partner img {
  display: block;
  max-width: 56px;
  margin: 0 auto;
  opacity: 0.5;
}
.partner img.grayscale {
  filter: grayscale(100%);
}
.partner img:hover {
  filter: grayscale(0%);
}

.partner .company-partner .company {
  display: inline-block;
  margin: 0 10px;
}


.how-it-work {
  background: #fff;
}
.how-it-work .col-6 {
  margin-bottom: 40px;
}
.how-it-work .card h2 {
  font-size: 24px;
  font-weight: 400;

  color: #757575;
}
.how-it-work .card p {
  color: #9E9E9E;
  font-weight: 400;
}
.how-it-work .card img {
  display: block;
  max-width: 150px;
  margin: 0 auto;

}

/* shared styles */
.about-header .card,
.how-it-work .card,
.pricing-type .card {
  max-width: 440px;
  margin: 0 20px; 
}

.banner-home .card {
    max-width: 440px;
}

.banner-home .card .form-register {
  width: 100%;
  background: #fff;
  padding-bottom: 20px;

} 

.banner-home .card .form-register .header {
  background: #EEEEEE;
  color: #2F3031;
  border-radius: 6px 6px 0 0;
}
.banner-home .card .form-register .header p {
  font-weight: 600;
}

.banner-home .card .form-register h1 {
  font-size: 24px;
  font-weight: 400;
  color: #2F3031;
  margin: 10px 0 0;
}

.banner-home .form-register .bantuan {
  padding: 0 20px;
}

.banner-home .form-register .btn-default {
  display: block;
  margin-top: 20px;
  margin-left: 1%;
}


.banner .hero-text .tagline {
   font-size: 48px;
   font-weight: 700px;
   line-height: 1.3;
}
.banner .hero-text p {
  font-size: 20px;
  font-weight: 500;
}
.banner .hero-text .tagline,
.banner .hero-text p {
  padding-left: 20px; 
  text-align: left;
}

/* about and mission */
.about-header .card {
  max-width: 440px;
  min-height: 350px;
  padding: 50px 30px;

  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 7px 25px rgba(22, 31, 38, .2);
}

.about-header .card h2 {
  font-size: 32px;
  font-weight: 400;
}


form .element-form{
  -webkit-box-sizing: 1px solid black;
          box-sizing: 1px solid black;
  margin-bottom: 10px;
  overflow: auto;
}

form .element-form input,
form .element-form textarea,
nav.mobile-menu .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98%;
  padding: 10px;
  margin: 1%;

  font-size: 0.85rem;
  letter-spacing: 1px;

  background: #ecf0f1;
  border: 1.5px solid #ecf0f1;
  outline: 0px;
}
form .element-form .half-width {
  float: left;
  width: 48%;
  margin: 0 1%;
}

form .element-form textarea {
  min-height: 70px;
  max-height: 400px;
  resize: vertical;
}
form .element-form input:focus,
form .element-form textarea:focus {
  border-color: #bdc3c7;
  background: #F5F5F5;
}
form .element-form input::-webkit-input-placeholder,
form .element-form textarea::-webkit-input-placeholder {
  color: #bdc3c7
}
form .element-form input:-ms-input-placeholder,
form .element-form textarea:-ms-input-placeholder {
  color: #bdc3c7
}
form .element-form input::placeholder,
form .element-form textarea::placeholder {
  color: #bdc3c7
}
.section-course .card {
  box-sizing: border-box;
  position: relative;
  /* max-width: 280px; */
  min-height: 200px;
  margin: 0 10px;
  transition: all ease-in .4s;
  background: #fff;
}

.section-course .card .header {
  padding: 10px;
  border-radius: 6px 6px 0 0;
}

.section-course .card .header.css{
  background: #00A9F4;
  color: #fff;
}

.card .header.js{
  background: #f9e328;
  color: #fff;
}

.card .header.html{
  background: #FF9800;
  color: #fff;
}

.card .header .like {
  float: left;
  font-size: 12px;
}

.card .header .waktu {
  float: right;
  font-size: 12px;
}

.card .bantuan {
  padding: 10px;
}
.card .bantuan h2 {
  margin-bottom: 5px;

  font-size: 18px;
}
.card .bantuan p {
  font-weight: 300;
  font-size: 14px;

  color: #9E9E9E;
}


.card .footer { 
  overflow: auto;
  padding: 10px;

  color: #BDBDBD;  
}
.card .footer .status {
  display: inline-block;
  padding: 5px;

  font-size: 12px;
  
  border: 2px solid #EBEBEB;
  border-radius: 3px;
}
footer {
  background: #212121;
}

footer .about img {
  display: block;
  width: 100px;
  height: auto;
}
footer p, footer a {
  font-size: 14px;  
}
footer .about p {
  color: #E0E0E0;
}

footer .footer-link {
  box-sizing: border-box;
  padding-left: 20px;
}

footer .twb { 
  font-size: 14.5px;
  font-weight: 600;

  color: #424242;
}

footer .footer-link a {
  color: #E0E0E0;
  transform: all ease-in .3s;
}
footer .footer-link a:hover {
  color: #9E9E9E;
}

footer .social {
  position: relative;
  right: 32px;
}
footer .social li a i {
  font-size: 16px;
}

footer .social .fa-facebook:hover {
  background: #242526;
}

footer .copyright {
  background: #272727;
}

footer .copyright p {
  font-size: 12px;
  font-weight: 600;
  
  color: #BDBDBD;
}

section.section-course:nth-of-type(2) {
    padding: 20px 0;
}