
.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: #9E9E9E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a.f-right {
  float: right;
}

.topnav .sign-in {
  background: linear-gradient(60deg, #1065B4, #1483D8);
  padding: 0;
  width: 80px;
  padding: 7px 0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.topnav .sign-in:hover {
  background: linear-gradient(60deg, #1065B4, #1483D8);
  color: #fff;
}

.topnav a .logo {
  max-width: 48px;
}

.topnav a:hover {
  color: #616161;
}



.topnav .icon {
  transform: scale(1.5);
  display: none;
}

@media screen and (max-width: 768px) {
	.topnav .sign-in:hover {
  background: none;
  color: #616161;
}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .banner .mobile-hd {
	  display: none;
  }
  
  .banner .mobile-hero {
	  width: 100%;
  }
.banner .mobile-hero p {
	max-width: 100%;
}
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
.col-6 { width: 48%;}
.col-3 { width: 48%; }
.col-4 { width: 48%; }

  .topnav .sign-in {
    background: transparent;
    color: #9E9E9E;
    font-weight: 400;
    padding: 14px 16px;
  }
  
  .pricing-type .col-6 {
	  width: 100%;
  }
  .pricing-type .card {
	  width: 90%;
	  margin: 0 auto;
  }
  
.testimonial .col-4,
.our-team .col-4 {
	width: 100%;
}
.testimonial .card,
.our-team .card {
	max-width: 100%;
	margin: 0 auto;
}

.our-team .col-4 {
	margin: 30px auto;
}

.about-header .col-6 {
	width: 100%;
}

.popular-course .col-4,
.testimonial .col-4 {
	width: 100%;
}

.about-header .card,
.popular-course .card,
.testimonial .card {
	max-width: 100%;
	margin: 0 auto;
}

}

@media screen and (max-width: 480px) {
.col-6 { width: 100%;}
.col-3 { width: 100%; }
.col-4 { width: 100%; }



.partner { 
	padding: 20px 0;
}

}