@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* ------------------------------------------------------- */
/* global styles */
/* ------------------------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  background-color: #f5f5f5;
  color: #384047;
}

h1, h2, h3, h4, h5, h6 {
  color: #384047;
  margin: 0;
}
h2 {
  margin: 0 0 40px 0;
  
  font-size: 32px;
  font-weight: 600;
}

p { margin: 0; }

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  padding-top: 40px;
}

section{
  padding-top: 40px;
  padding-bottom: 50px;
}
section:after {
  content: "";
  display: block;
  clear: both;
}
section:nth-of-type(2) {
  padding-top: 80px;
}

.card { 
  box-sizing: border-box;  
  margin: 0 auto;
}

.overflow-auto { overflow: auto; }

.btn-default {
  min-width: 100px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  
  color: #fff;
  border: 0;
  border-radius: 6px;
  outline: none;
  cursor: pointer;

  transition: all ease-in 2s;
}
.btn-default:hover {
  background: linear-gradient(60deg, #1065B4, #1483D8);
}

/* ------------------------------------------------------- */
/* grid system */
/* ------------------------------------------------------- */
.row {
  width: 100%;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-6 { width: 50%;}
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
div[class*="col-"] {float: left; margin: 10px 0;}

.wrapper {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.mb-2 { margin-bottom: 20px; }
.mb-1 { margin-bottom: 10px; }
.mt-2 { margin-top: 20px; }

.text-white { color: #fff; }
.text-dark { color: #384047; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-up { text-transform: uppercase; }

/* ------------------------------------------------------- */
/* Effect */
/* ------------------------------------------------------- */
.bg-white { background-color: #fff; }
.bg-blue-gradient,
.btn-default {
  background: linear-gradient(60deg, #1976D2, #2196F3);
}

.grayscale {
  filter: grayscale(70%);
  transition: all ease-in .3s;
}
.grayscale:hover {
  filter: grayscale(0%);
}

.shadow {
  box-shadow: 2px 2px 25px rgba(22, 31, 38, .1);
}
.text-shadow {
  text-shadow: 2px 2px 25px rgba(22, 31, 38, .3);
}

.sm-rounded {
  border-radius: 3px;
}
.md-rounded {
  border-radius: 6px;
}

.social {
  width: 100%;
}
.social ul {
  box-sizing: border-box;
  margin: auto;
  max-width: max-content;
}
.social ul:after {
  content: "";
  display: block;
  clear: both;
}
.social li { 
  float: left; 
  margin: 5px;
}
.social li a { 
  display: block;
}
.social li a i {
  display: block;
  padding: 10px;
  width: 16px;
  height: 16px;

  text-align: center;
  line-height: 16px;
  
  background: #2F3031;
  color: #E0E0E0;
  border-radius: 100%;
  transition: all ease-in .2s;  
}


/* header */
header {
	min-height:60px;
  background-color:white;	
}
header:after {
  content: "";
  display: block;
  clear: both;
}

.menu, nav {

}

.menu ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #9E9E9E;
  transition: all ease-in .3s;
}
.menu ul li a:hover {
  color: #616161;
}

.menu .logo {
  margin-top: 10px;
  float: left;
}

.menu .logo img {
  width: 56px;
}

.menu nav {
  margin-top: 5px;
}

.menu .left-link {
  float: left;
}
.menu .left-link li {
  float: left;
}

.menu .right-link {
  float: right;
}
.menu .right-link li {
  float: left;
}
.menu a{
  display: inline-block;
	text-decoration:none;
	color: #424242;
	margin: 0 10px;
	line-height:56px;
	
	
}


label {
	font-size:26px;
	width:26px;
  float:right;
  display: none;
}
#toggle {
  float: right;
  width: 26px;
  height: 26px;
  position: relative;
  top: 10px;
  right: 25px;
  display: none;
}

@media screen and (max-width:780px){
  label,
  #toggle {
		display:block;
		cursor:pointer;	
  }
  


  #toggle {
    opacity: 1;
  }

  #toggle:checked  + .menu nav {
    display: none;
  }
}

/* 


	.menu{
		text-align:center;
		width:100%;
		display:none;
		float:left;
		
	}
	.menu a {
		display:block;
		border-top:2px solid #4dc3ff;
		margin:0;
			
	}

	span {
		margin-right:36%;
		background:#f2f2f2;
			
	}
	
} */

/* ------------------------------------------------------- */
/* banner style */
/* ------------------------------------------------------- */
section.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 250px;
  z-index: 1;
}
section.banner-about {
  background: url("../images/office.jpg") no-repeat;
  background-size: cover;
}
section.banner-pricing {
  background: url("../images/pricing.jpeg") no-repeat;
  background-size: cover;
}
section.banner-home {
  background: url("../images/coding.jpg") no-repeat;
  background-size: cover;
  height: 450px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;

  opacity: .85;
  z-index: -1;
}

.banner h1 {
  margin: 0 0 20px;

  font-size: 40px;
  font-weight: 600;
  text-align: center;

  color: #fff;
}
.banner p {
  max-width: 500px;
  padding: 5px 0;
  margin: 0 auto;
  
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.partner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 50px;
}

.partner h2 {
  font-size: 20px;
  width: 100%;
}

.partner h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;

  color: #9E9E9E;
}

.partner img {
  display: block;
  max-width: 56px;
  margin: 0 auto;
  opacity: 0.5;
}
.partner img.grayscale {
  filter: grayscale(100%);
}
.partner img:hover {
  filter: grayscale(0%);
}

.partner .company-partner .company {
  display: inline-block;
  margin: 0 10px;
}


.how-it-work {
  background: #fff;
}
.how-it-work .col-6 {
  margin-bottom: 40px;
}
.how-it-work .card h2 {
  font-size: 24px;
  font-weight: 400;

  color: #757575;
}
.how-it-work .card p {
  color: #9E9E9E;
  font-weight: 400;
}
.how-it-work .card img {
  display: block;
  max-width: 150px;
  margin: 0 auto;

}

/* shared styles */
.about-header .card,
.how-it-work .card,
.pricing-type .card {
  max-width: 440px;
  margin: 0 20px; 
}

.pricing-type .card {
  min-height: 280px;
  padding: 20px;
  
  background: #fff;
}



/* pricing */ 
.pricing-type .card {
  max-width: 440px;
  min-height: 280px;
  padding: 20px;
  margin: 0 20px; 
  
  background: #fff;
}

.pricing-type .card {
  position: relative;
}

.pricing-type .col-6:nth-of-type(1) .card .btn-default {
  position: relative;
  top: 20px;
}
.pricing-type .col-6:nth-of-type(2) .card {
  padding-top: 40px;
}

.pricing-type .card h2 {
  font-size: 28px;
  font-weight: 300;
}


.pricing-type .card .currency,
.pricing-type .card .price {
  font-weight: 400;
}
.pricing-type .card .currency { font-size: 20px; }
.pricing-type .card .price { font-size: 48px; }

.pricing-type .card .discount {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  height: 30px;

  font-size: 14px;

  background: #03A9F4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.pricing-type .card .discount p {
  line-height: 30px;
}

.pricing-type .card .limit {
  font-weight: 300;
}


.banner-home .card {
    max-width: 440px;
}

.banner-home .card .form-register {
  width: 100%;
  background: #fff;
  padding-bottom: 20px;

} 

.banner-home .card .form-register .header {
  background: #EEEEEE;
  color: #2F3031;
  border-radius: 6px 6px 0 0;
}
.banner-home .card .form-register .header p {
  font-weight: 600;
}

.banner-home .card .form-register h1 {
  font-size: 24px;
  font-weight: 400;
  color: #2F3031;
  margin: 10px 0 0;
}

.banner-home .form-register .content {
  padding: 0 20px;
}

.banner-home .form-register .btn-default {
  display: block;
  margin-top: 20px;
  margin-left: 1%;
}


.banner .hero-text .tagline {
   font-size: 48px;
   font-weight: 700px;
   line-height: 1.3;
}
.banner .hero-text p {
  font-size: 20px;
  font-weight: 500;
}
.banner .hero-text .tagline,
.banner .hero-text p {
  padding-left: 20px; 
  text-align: left;
}

/* about and mission */
.about-header .card {
  max-width: 440px;
  min-height: 350px;
  padding: 50px 30px;

  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 7px 25px rgba(22, 31, 38, .2);
}

.about-header .card h2 {
  font-size: 32px;
  font-weight: 400;
}


form .element-form{
  -webkit-box-sizing: 1px solid black;
          box-sizing: 1px solid black;
  margin-bottom: 10px;
  overflow: auto;
}

form .element-form input,
form .element-form textarea,
nav.mobile-menu .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98%;
  padding: 10px;
  margin: 1%;

  font-size: 0.85rem;
  letter-spacing: 1px;

  background: #ecf0f1;
  border: 1.5px solid #ecf0f1;
  outline: 0px;
}
form .element-form .half-width {
  float: left;
  width: 48%;
  margin: 0 1%;
}

form .element-form textarea {
  min-height: 70px;
  max-height: 400px;
  resize: vertical;
}
form .element-form input:focus,
form .element-form textarea:focus {
  border-color: #bdc3c7;
  background: #F5F5F5;
}
form .element-form input::-webkit-input-placeholder,
form .element-form textarea::-webkit-input-placeholder {
  color: #bdc3c7
}
form .element-form input:-ms-input-placeholder,
form .element-form textarea:-ms-input-placeholder {
  color: #bdc3c7
}
form .element-form input::placeholder,
form .element-form textarea::placeholder {
  color: #bdc3c7
}

/* shared styles */
.popular-course .card {
  box-sizing: border-box;
  position: relative;
  max-width: 280px;
  min-height: 200px;
  margin: 0 10px;
  transition: all ease-in .4s;

  background: #fff;
}

.popular-course .card .header {
  padding: 10px;
  overflow: auto;

  border-radius: 6px 6px 0 0;
}

.popular-course .card .header.css{
  background: #00A9F4;
  color: #fff;
}

.popular-course .card .header.js{
  background: #f9e328;
  color: #fff;
}

.popular-course .card .header.html{
  background: #FF9800;
  color: #fff;
}

.popular-course .card .header .type {
  float: left;
  font-size: 12px;
}

.popular-course .card .header .time {
  float: right;
  font-size: 12px;
}

.popular-course .card .content {
  padding: 10px;
}
.popular-course .card .content h2 {
  margin-bottom: 5px;

  font-size: 18px;
}
.popular-course .card .content p {
  font-weight: 300;
  font-size: 14px;

  color: #9E9E9E;
}


.popular-course .card .footer { 
  overflow: auto;
  padding: 10px;

  color: #BDBDBD;  
}
.popular-course .card .footer .status {
  display: inline-block;
  padding: 5px;

  font-size: 12px;
  
  border: 2px solid #EBEBEB;
  border-radius: 3px;
}
.our-team .card,
.testimonial .card {
  box-sizing: border-box;
  position: relative;
  max-width: 280px;
  min-height: 300px;
  margin: 0 10px;
  transition: all ease-in .4s;
}
.testimonial .card { padding: 20px 20px 30px; }
.our-team .card { padding: 80px 20px 30px; }

.our-team .card:hover,
.testimonial .card:hover {
  box-shadow: 0 0 30px rgba(22, 31, 38, .3);
}

.our-team .col-4:nth-of-type(1) .card,
.testimonial .col-4:nth-of-type(1) .card {
  border-top: 5px solid #00E676;
}
.our-team .col-4:nth-of-type(2) .card,
.testimonial .col-4:nth-of-type(2) .card {
  border-top: 5px solid #03A9F4;
}
.our-team .col-4:nth-of-type(3) .card,
.testimonial .col-4:nth-of-type(3) .card {
  border-top: 5px solid#FF9800;
}


/* out team */
.our-team h2 { 
  margin-bottom: 100px;
 }

.our-team .card .img-box {
  float: left;
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
}
.our-team .card .img-circle {
  border-radius: 100%;
  display: block;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}

.our-team .card h4 { 
  font-size: 20px;
  font-weight: 400;
  clear: both;
}

.our-team .card h4 + p { 
  margin-bottom: 10px;

  font-size: 15px;
  font-weight: 700;
}

.our-team .card .motto {
  font-size: 14px;
  font-weight: 600;

  color:#BDBDBD;
}

.our-team .social {
  width: 100%;
}
.our-team .social li a i {
  width: 16px;
  height: 16px;

  line-height: 16px;

  background-color: #E0E0E0;
  color: #BDBDBD;
}
.our-team .social .fa-facebook:hover,
.our-team .social .fa-twitter:hover,
.our-team .social .fa-instagram:hover {
  background: #616161;
  color: #fff;
}

/* testimonial */
.testimonial .card .people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 20px;
}

.testimonial .card .people img {
  max-width: 56px;
  max-height: 56px;
  margin-right: 5px;
  border-radius: 100%;
}
.testimonial .card .people h4 {
  font-size: 18px;
  font-weight: 400;

  color: #757575;
}

.testimonial .card .testimonial {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;

  color: #9E9E9E;
}

/* pros */
.pros-box {
  max-width: 480px;
  padding: 40px 30px;
  margin: 0 auto;

  background: #fff;
}

.pros-box ul li {
  margin: 10px 0;

  font-size: 18px;

  color: #9E9E9E;
}
.pros-box i {  
  padding-right: 5px;
  
  font-size: 24px;
  
  color: #0288D1;
}



/* our office */
.our-office .map {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}



/* footer */
footer {
  background: #212121;
}

footer .about img {
  display: block;
  width: 100px;
  height: auto;
}
footer p, footer a {
  font-size: 14px;  
}
footer .about p {
  color: #E0E0E0;
}

footer .footer-link {
  box-sizing: border-box;
  padding-left: 20px;
}

footer .twb { 
  font-size: 14.5px;
  font-weight: 600;

  color: #424242;
}

footer .footer-link a {
  color: #E0E0E0;
  transform: all ease-in .3s;
}
footer .footer-link a:hover {
  color: #9E9E9E;
}

footer .social {
  position: relative;
  right: 32px;
}
footer .social li a i {
  font-size: 16px;
}

footer .social .fa-facebook:hover {
  background: #242526;
}

footer .copyright {
  padding: 20px;
  background: #272727;
}

footer .copyright p {
  font-size: 12px;
  font-weight: 600;
  
  color: #BDBDBD;
}